body {
    background-color: black;
    color: #00ff00;
    font-family: "Courier New", monospace;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#terminal {
    width: 700px;
    border: 2px solid #00ff00;
    padding: 30px;
    box-shadow: 0 0 20px #00ff00;
}

button {
    background: black;
    border: 1px solid #00ff00;
    color: #00ff00;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background: #002200;
}
input {
    background: black;
    border: 1px solid #00ff00;
    color: #00ff00;
    margin: 10px;
    padding: 8px;
    width: 80%;
}

button {
    background: black;
    border: 1px solid #00ff00;
    color: #00ff00;
    padding: 8px 15px;
    cursor: pointer;
}

button:hover {
    background: #002200;
}

.discord-title {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to right, #001f4d, #4da6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hint {
    margin-top: 10px;
    font-size: 14px;
    color: #00aa00;
}

.key-highlight {
    color: #00ff00;
    font-weight: bold;
    text-shadow: 0 0 5px #00ff00;
}
